/*** General ***/
html,
body {
    width: 100%;
    height: 100%;
}

/*** Header & Navigation ***/
#mainNav {
    margin-top: -10px;
}

a.navbar-brand {
    margin-top: 10px;
}

/*** Game Section ***/
#gameSection {
    height: auto;
    width: 100%;
    padding-top: 70px;
    background: #A0E7AF;
}    

.card-container,
.top,
.bottom {
    display: block;
    height: 150px;
    width: 200px;
}

.card-container {
    margin: 20px;
}

top,
.bottom {
    position: absolute;
    top: 0;
    left: 0;
}

.top {
    background: #333;
    /*z-index: 1000;*/
}

.bottom {
   display: none;
}



