/*** General ***/
html,
body {
    width: 100%;
    height: 100%;
}

/*** Header & Navigation ***/
#mainNav {
    margin-top: -10px;
}

a.navbar-brand {
    margin-top: 10px;
}

/*** Game Section ***/
#gameSection {
    height: auto;
    width: 100%;
    padding-top: 70px;
    background: #A0E7AF;
    perspective: 1000px;
}

.card-container {
    display: block;
    height: 150px;
    width: 200px;
    background: #fff;
    margin: 20px;
    transform-style: preserve-3d;
    
}

.card-container > img.back,
.card-container > div.front {
    height: inherit;
    width: inherit;
    backface-visibility: hidden;
}

div.front {
    background: #333;
}

img.back {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.card-container:hover div.front {
    transform: rotateY(180deg);
}

